<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Planivent</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">

</head>
<body>
<nav class="navbar">
    <div class="nav-logo">
        <p>PLANIVENT</p>
    </div>
    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a class="link" href="#" th:href="@{/home}">Acasă</a></li>
            <li><a class="link active" href="#" th:href="@{/blog}">Blog</a></li>
            <li class="dropdown">
                <a class="link dropdown-toggle" href="#" role="button" id="categoriesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorii</a>
                <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                    <th:block th:each="category : ${allCategories}">
                        <div class="category-section">
                            <a class="dropdown-item" th:href="@{/products(categoryId=${category.id})}" th:text="${category.name}"></a>
                            <div th:if="${not #lists.isEmpty(category.subcategories)}" class="subcategory-grid">
                                <div th:each="subcategory, subIterStat : ${category.subcategories}" th:if="${subIterStat.index < 4}" class="subcategory-item">
                                    <a th:href="@{/products(categoryId=${subcategory.id})}" th:text="${subcategory.name}"></a>
                                </div>
                                <div th:if="${category.subcategories.size() > 4}">
                                    <a th:href="@{/products(categoryId=${category.id})}" class="see-more">vezi mai mult...</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </li>
            <li><a class="link" href="#" th:href="@{/tasks}">Notiţele mele</a></li>
        </ul>
    </div>
    <div class="nav-button">
        <a class="btn" href="#" id="myAccountBtn" th:href="@{/user/profile}">Contul meu</a>
        <a class="btn" id="logoutBtn" th:href="@{/logout}">Delogare</a>
    </div>

</nav>
<div class="profile-grid">
    <div class="main-content">
        <div class="title"><h2>De interes de la #PLANIVENT</h2></div>

        <div th:each="role : ${roles}" th:if="${role.id == user.role.id && role.role == 'Provider'}">
            <button type="button" class="submit" data-toggle="modal" data-target="#addArticleModal">
                Adaugă articol
            </button>

            <div class="modal fade" id="addArticleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="articleModalLabel">Adaugă articol</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" th:action="@{/blog/add}" method="post" th:object="${articles}">
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-10">
                                        <input type="text" class="input-detail" name="title" id="title" placeholder="Titlu" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-10">
                                        <textarea class="input-description" name="description" id="description" placeholder="Descriere" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-10">
                                        <button type="submit" class="submit">Adaugă</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="articles-list">

            <div th:if="${articles.isEmpty()}">
                <p style="color: white;">Nu există articole publicate.</p>
            </div>
            <div th:each="article : ${articles}">
                <a th:href="@{/blog/article/{id}(id=${article.article_id})}" class="article-link">
                <div class="article">
                    <div class="article-title" th:text="${article.title}"></div>
                    <div class="article-description" th:text="${article.description}"></div>
                    <small>Postat de <span th:text="${article.user.getName()}"></span></small>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="footer-grid">
    <div class="footer-section">
        <h3>Cauţi servicii?</h3>
        <ul>
            <li><a href="#" th:href="@{/customer-1}">Cum contactez un furnizor?</a></li>
            <li><a href="#" th:href="@{/customer-2}">Ce facilităţi am?</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Despre Planivent</h3>
        <ul>
            <li><a href="#" th:href="@{/general-1}">Despre Planivent</a></li>
            <li><a href="#" th:href="@{/general-2}">Contact</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Oferi servicii?</h3>
        <ul>
            <li><a href="#" th:href="@{/provider-1}">Cum listez produsele?</a></li>
            <li><a href="#" th:href="@{/provider-2}">Ce facilităţi am?</a></li>
        </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/scripts/blog.js"></script>

</body>
</html>