<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Planivent</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/css/calendar.css">

</head>
<body>
<nav class="navbar">
    <div class="nav-logo">
        <p>PLANIVENT</p>
    </div>
    <div class="nav-menu responsive" id="navMenu">
        <ul>
            <li><a class="link" href="#" th:href="@{/home}">Acasă</a></li>
            <li><a class="link" href="#" th:href="@{/blog}">Blog</a></li>
            <li class="dropdown">
                <a class="link dropdown-toggle" href="#" role="button" id="categoriesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorii</a>
                <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                    <th:block th:each="category : ${allCategories}">
                        <div class="category-section">
                            <a class="dropdown-item" th:href="@{/products(categoryId=${category.id})}" th:text="${category.name}"></a>
                            <div th:if="${not #lists.isEmpty(category.subcategories)}" class="subcategory-grid">
                                <div th:each="subcategory, subIterStat : ${category.subcategories}" th:if="${subIterStat.index < 4}" class="subcategory-item">
                                    <a th:href="@{/products(subcategoryId=${subcategory.id})}" th:text="${subcategory.name}"></a>
                                </div>
                                <div th:if="${category.subcategories.size() > 4}">
                                    <a th:href="@{/category(id=${category.id})}" class="see-more">vezi mai mult...</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </li>
            <li><a id="notes-btn" class="link" href="#" th:href="@{/tasks}">Notiţele mele</a></li>
        </ul>
    </div>
    <div class="nav-button">
        <a class="btn white-btn" href="#" id="myAccountBtn" th:href="@{/user/profile}">Contul meu</a>
        <a class="btn" id="logoutBtn" th:href="@{/logout}">Delogare</a>
    </div>
    <div class="nav-menu-btn">
        <i class="bx bx-menu" onclick="myMenuFunction()"></i>
    </div>
</nav>

<div class="profile-grid">
    <aside class="sidebar">
        <nav class="nav-sidebar">
            <button id="personal-info-btn">Informaţii personale</button>
            <button id="my-products-btn" th:each="role : ${roles}" th:if="${role.id == user.role.id && role.role == 'Provider'}">Produsele mele</button>
            <button id="calendar-btn" class="active">Calendar</button>
            <button id="messages-btn">Mesajele mele</button>
            <button id="change-password-btn">Schimbare parolă</button>
            <button id="logout-btn">Delogare</button>
        </nav>
    </aside>
    <main class="main-content">
        <div class="title">
            <h2>Evenimentele mele</h2>
        </div>
        <div class="calendar" id="calendar"></div>
        <div id="eventModal" class="modal" style="display:none;">
            <div class="modal-content">
                <h4>Adaugă eveniment</h4>
                <form id="eventForm" th:action="@{/events/add}" method="post">
                    <input class="input-detail" type="text" id="eventTitle" placeholder="Titlu" required>
                    <textarea class="input-description" id="eventDesc" placeholder="Descriere" required></textarea>
                    <input class="input-detail" type="datetime-local" id="eventDate" required>
                    <button class="btn btn-primary" type="submit">Salvează</button>
                    <button  class="btn btn-secondary" type="button" onclick="$('#eventModal').hide()">Renunţă</button>
                </form>
            </div>
        </div>
    </main>
</div>

<footer class="footer-grid">
    <div class="footer-section">
        <h3>Cauţi servicii?</h3>
        <ul>
            <li><a href="#" th:href="@{/customer-1}">Cum contactez un furnizor?</a></li>
            <li><a href="#" th:href="@{/customer-2}">Ce facilităţi am?</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Despre Planivent</h3>
        <ul>
            <li><a href="#" th:href="@{/general-1}">Despre Planivent</a></li>
            <li><a href="#" th:href="@{/general-2}">Contact</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Oferi servicii?</h3>
        <ul>
            <li><a href="#" th:href="@{/provider-1}">Cum listez produsele?</a></li>
            <li><a href="#" th:href="@{/provider-2}">Ce facilităţi am?</a></li>
        </ul>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
<script src="/scripts/user-profile.js"></script>
<script src="/scripts/calendar.js"></script>

</body>
</html>
