<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planivent</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/password-request.css">

</head>
<body>
<nav class="navbar">
    <div class="nav-logo">
        <p>PLANIVENT</p>
    </div>
    <div class="nav-menu" id="navMenu" th:if="${#authorization.expression('isAuthenticated()')}">
    </div>
    <div class="nav-button">
        <a class="btn white-btn" href="#" id="loginBtn" onclick="login()" th:href="@{/login}">Logare</a>
        <a class="btn" href="#" id="registerBtn" onclick="register()" th:href="@{/registration}">Înregistrare</a>
    </div>
</nav>

<div class="profile-grid">
    <div class="main-content">
        <form class="form-box" method="post" role="form" th:action="@{/password-request}">
            <div class="login-container" id="login">
                <div class="top">
                    <div th:if="${param.success}">
                        <div class="alert">
                            <p>Link-ul de resetare al parolei a fost trimis!
                                Vă rugăm verificaţi adresa de email!</p>
                        </div>
                    </div>
                    <header>Doreşti schimbarea parolei?</header>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" id="email" name="email" placeholder="Email" required/>
                </div>
                <div class="input-box">
                    <input class="submit" type="submit" value="Trimite link de resetare">
                </div>
                <div class="two-col">
                    <div class="one"></div>
                    <div class="two"></div>
                </div>
                <div class="top"></div>
                <div th:if="${param.error != null}">
                    <div class="alert" th:value="${param.error}"></div>
                </div>
             </div>
        </form>
    </div>
</div>

<footer class="footer-grid">
    <div class="footer-section">
        <h3>Cauţi servicii?</h3>
        <ul>
            <li><a href="#" th:href="@{/customer-1}">Cum contactez un furnizor?</a></li>
            <li><a href="#" th:href="@{/customer-2}">Ce facilităţi am?</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Despre Planivent</h3>
        <ul>
            <li><a href="#" th:href="@{/general-1}">Despre Planivent</a></li>
            <li><a href="#" th:href="@{/general-2}">Contact</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>Oferi servicii?</h3>
        <ul>
            <li><a href="#" th:href="@{/provider-1}">Cum listez produsele?</a></li>
            <li><a href="#" th:href="@{/provider-2}">Ce facilităţi am?</a></li>
        </ul>
    </div>
</footer>

<script src="/scripts/password-request.js"></script>
</body>
</html>